/* Header */

.header{
    border: 1px solid blue;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    display: flex;
}


.logo{
    border: 1px solid blue;
}

.menu{
    border: 1px solid blue;
    width: 100%;
    display: flex;
}


.cta{
    border: 1px solid blue;
}















*,
*:before,
*::after{
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}